.slider-icon.Up,
.slider-icon.Down {
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.slider-icon.Up {
  top: 0;
}

.slider-icon.Down {
  bottom: 0;
}

.slider-icon.Up:hover,
.slider-icon.Down:hover {
  opacity: 1;
}
#PropertySlider {
  height: 840px;
  white-space: nowrap;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-right: 20px;
}

#PropertySlider::-webkit-scrollbar {
  display: none;
}
